
/*
    The Below CSS is primarily for the Site Master. Everything else is
    in the content placeholder section.
*/
html,body {
   margin:0;
   padding:0;
   height:100%;  
   background-color:#F5EFCF; 
}

#wrapper {
    min-height:100%;
    position:relative;
}

#PageTop {
    background-color:#B97A57;
    height:200px;
}

#Title {
    position:absolute;
    font-size:700%;
    top:-15%;
    left:20%;
}
    
#Subtitle {
    position:absolute;
    font-size:200%;
    top:15%;
    left:40%;       
}

#Logo {
   
}

#PageMiddle {
    padding:10px;
    background-color:#F5EFCF;
    /*the next few lines make sure the page can be 
        read by cell phones and tablets 01/17/2015
    */
    max-width:70%;
   padding-left:15%;
   padding-right:15%;
}

#push {

    height:11rem;
}
/*
    The footer was based on this webpage:
    http://www.cssreset.com/how-to-keep-footer-at-bottom-of-page-with-css/
*/
/*Everything in the viewable footer is  below. PageBottom is the container */
#PageBottom {
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
    background-color:#B97A57;
    font-family:Verdana;
}

/*BottomLeft is the left side of the footer, holding the church's people to contact */
#BottomLeft {
    position:absolute;
    left:0%;
    background-color:#B97A57;
    width:33.3%;
    bottom:0;
    text-align:center;
    border-top:thin solid black;
}

/*BottomCenter is the middle of the footer, holding the church's address */
#BottomCenter {
    position:absolute;
    left:33.3%;
    background-color:#B97A57;
    width:33.3%;
    bottom:0;
    border-left:thin solid black;
    border-top:thin solid black;
    text-align:center;
}

/*BottomRight is the right third of the footer, holding the service schedule*/
#BottomRight {
    position:absolute;
    left:66.7%;
    width:33.3%;
    background-color:#B97A57;
    bottom:0;
    text-align:center;
    border-top:thin solid black;
    border-left:thin solid black;

}
/*This ends the Markup for the Master and content pages*/
